{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'shared/_navbar.html' %}
<h1> 용인에서 뭐 먹지? </h1>
<h3>용인 중앙시장에서 먹기</h3>
<div>
    <img src="{% static 'images/빈대떡일번지.jpg' %}" width = "150"alt="빈대떡일번지" style="margin-top:10px; margin-left:20px;">
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:10px;"><h5>#빈대떡 일번지</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:60px;">
        <h7>비오는 날엔 막걸리에 빈대떡!</h7></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:90px;">
        <h7>빈대떡 외에도 제육볶음, 동태전, 메밀전병 등 다양한 전과 처인성 막걸리, 가평잣막걸리, 알밤막걸리 등 여러 막걸리를 마셔볼 수 있어><</h7></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:120px;">
        <h7>031-332-2997</h7></span>
</div>

<div>
    <img src="{% static 'images/오동족발.jpg' %}" width = "150"alt="오동족발" style="margin-top:15px; margin-left:20px;">
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:15px;"><h5>#오동 족발</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:65px;">
        <h7>쫀득쫀득함과 부드러움을 함께 느낄 수 있는 족발!</h7></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:95px;">
        <h7>양도 많고 막국수도 정말 맛있어! 매콤한 불족발이 인기><</h7></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:125px;">
        <h7>031-338-8896</h7></span>
</div>

<div>
    <img src="{% static 'images/진순자 계란말이 김밥.jpg' %}" width = "150"alt="진순자 계란말이 김밥" style="margin-top:15px; margin-left:20px;">
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:15px;"><h5>#진순자 계란말이 김밥</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:65px;">
        <h7>계란말이가 돌돌 말려있는 김밥!</h7></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:95px;">
        <h7>계란말이 김밥말고도 잔치국수 칼국수도 맛있어! 가성비 갑><</h7></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:125px;">
        <h7>031-6368-4617</h7></span>
</div>

<h3 style="margin-top:80px;">대학교 근처 맛집</h3>
<div>
    <h3>-단국대 맛집-</h3>
    <img src="{% static 'images/단국대 맛집.jpg' %}" width = "200"alt="단국대 맛집" style="margin-top:10px; margin-left:20px;">
    <img src="{% static 'images/단국대 맛집2.jpg' %}" width = "200"alt="단국대 맛집" style="margin-top:10px; margin-left:20px;">
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:5px;"><h5>#해피덮 - 연어덮밥</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:30px;"><h5>#고수찜닭 - 당면찜닭</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:55px;"><h5>#사부 - 짜장면</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:80px;"><h5>#족타구나 - 마늘양념족발</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:105px;"><h5>#배꼽빵빵 즉석 떡볶이 - 야채떡볶이</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:130px;"><h5>#싱싱한 연어와 바삭한 새우 - 연어회덮밥</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:155px;"><h5>#그란데 - 빠네</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:180px;"><h5>#돼지집 - 수육튀김</h5></span>
</div>

<div>
    <h3>-명지대(자연캠퍼스) 맛집-</h3>
    <img src="{% static 'images/명지대 맛집.jpg' %}" width = "200"alt="명지대 맛집" style="margin-top:10px; margin-left:20px;">
    <img src="{% static 'images/명지대 맛집2.jpg' %}" width = "200"alt="명지대 맛집" style="margin-top:10px; margin-left:20px;">
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:5px;"><h5>#가온누리 - 삼겹살</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:30px;"><h5>#코델리아 - 상하이 파스타</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:55px;"><h5>#루나리치 - 마르게리타 피자</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:80px;"><h5>#마라순코우 - 마라탕</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:105px;"><h5>#스시환 - 연어초밥</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:130px;"><h5>#전곱 - 치즈곱창볶음</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:155px;"><h5>#이태리부엌 - 알리오올리오</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:180px;"><h5>#오영쪽갈비 - 치즈쪽갈비</h5></span>
</div>


<div>
    <h3>-경희대(글로벌 캠퍼스) 맛집-</h3>
    <img src="{% static 'images/경희대 맛집.jpg' %}" width = "200"alt="경희대 맛집" style="margin-top:10px; margin-left:20px;">
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:50px;"><h5>#홍호아 - 양지쌀국수</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:75px;"><h5>#미미카츠 - 치즈카츠</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:100px;"><h5>#키와마루아지 - 미라멘</h5></span>
    <span style="position:absolute;word-break:break-all; text-align:left; margin-left:20px; margin-top:125px;"><h5>#익스프레스피스타애피자 - 갈릭포테이토 피자</h5></span>
</div>

{% endblock %}