{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'shared/_navbar.html' %}
<h1> 용인에서 즐겁게 놀자! </h1>
<div>
    <img src="{% static 'images/바운스 트램폴린파크.jpg' %}" width = "180"alt="바운스 트램폴린 파크" style="margin-top:10px; margin-left:20px;">
    <span style="margin-top:10px;"><h5>#바운스 트램폴린 파크</h5></span>
    <span style="margin-top:40px;">
        <h7>추억의 트램폴린을 아이도 성인도 즐기자! </h7></span>
    <span style="margin-top:70px;">
        <h7>경기도 용인시 기흥구 동백죽전대로 15번길 6</h7></span>
    <span style="margin-left:20px; margin-top:100px;">
        <h7>매일 10:30 ~ 21:00</h7></span>
    <span style="margin-left:20px; margin-top:130px;">
        <h7>070-8858-6433</h7></span>
</div>
<div>
    <img src="{% static 'images/플로우 하우스.jpg' %}" width = "210"alt="플로우 하우스" style="margin-top:30px; margin-left:20px;">
    <span style="margin-left:20px; margin-top:30px;"><h5>#플로우 하우스</h5></span>
    <span style="margin-left:20px; margin-top:60px;">
        <h7>국내 최초! 실내 서핑을 즐겨보아요!</h7></span>
    <span style="margin-left:20px; margin-top:90px;">
        <h7>경기도 용인시 기흥구 신고매로 124 롯데프리미엄아울렛기흥점 지하 2층</h7></span>
    <span style="margin-left:20px; margin-top:120px;">
        <h7>매일 11:00 ~ 20:30, 설날, 추석당일 휴무</h7></span>
    <span style="margin-left:20px; margin-top:150px;">
        <h7>031-8036-3042</h7></span>
</div>
<div>
    <img src="{% static 'images/플라이 스테이션.jpg' %}" width = "220"alt="플라이 스테이션" style="margin-top:30px; margin-left:20px;">
    <span style="margin-top:30px;"><h5>#플라이 스테이션</h5></span>
    <span style="margin-top:60px;">
        <h7>스카이다이빙을 실내에서 즐기자! </h7></span>
    <span style="margin-top:90px;">
        <h7>경기도 용인시 처인구 포곡읍 성산로 521</h7></span>
    <span style="margin-top:120px;">
        <h7>평일 10:30 ~ 20:00</h7></span>
    <span style="margin-top:150px;">
        <h7>031-1855-3946</h7></span>
</div>
{% endblock %}